name: Release

on:
  release:
    types:
      - published

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      TARBALL_NAME: data.tar.gz
    timeout-minutes: 3
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build tarball
        run: npm run build ${{ env.TARBALL_NAME }}

      - name: Upload tarball
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ github.event.release.tag_name }} ${{ env.TARBALL_NAME }}
